!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header
    nav
      ul
        li
          a(href="/create") create
        li
          a(href="/list") list
  != body
